Registro/Registro/Service References/ServiceReference1/Registro.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Registro" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:57466/Registro.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:57466/Registro.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:57466/Registro.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRegistro_guardar_InputMessage">
    <wsdl:part name="parameters" element="tns:guardar" />
  </wsdl:message>
  <wsdl:message name="IRegistro_guardar_OutputMessage">
    <wsdl:part name="parameters" element="tns:guardarResponse" />
  </wsdl:message>
  <wsdl:message name="IRegistro_buscar_InputMessage">
    <wsdl:part name="parameters" element="tns:buscar" />
  </wsdl:message>
  <wsdl:message name="IRegistro_buscar_OutputMessage">
    <wsdl:part name="parameters" element="tns:buscarResponse" />
  </wsdl:message>
  <wsdl:message name="IRegistro_mostrar_InputMessage">
    <wsdl:part name="parameters" element="tns:mostrar" />
  </wsdl:message>
  <wsdl:message name="IRegistro_mostrar_OutputMessage">
    <wsdl:part name="parameters" element="tns:mostrarResponse" />
  </wsdl:message>
  <wsdl:message name="IRegistro_borrar_InputMessage">
    <wsdl:part name="parameters" element="tns:borrar" />
  </wsdl:message>
  <wsdl:message name="IRegistro_borrar_OutputMessage">
    <wsdl:part name="parameters" element="tns:borrarResponse" />
  </wsdl:message>
  <wsdl:message name="IRegistro_editar_InputMessage">
    <wsdl:part name="parameters" element="tns:editar" />
  </wsdl:message>
  <wsdl:message name="IRegistro_editar_OutputMessage">
    <wsdl:part name="parameters" element="tns:editarResponse" />
  </wsdl:message>
  <wsdl:portType name="IRegistro">
    <wsdl:operation name="guardar">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegistro/guardar" message="tns:IRegistro_guardar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegistro/guardarResponse" message="tns:IRegistro_guardar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="buscar">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegistro/buscar" message="tns:IRegistro_buscar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegistro/buscarResponse" message="tns:IRegistro_buscar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="mostrar">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegistro/mostrar" message="tns:IRegistro_mostrar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegistro/mostrarResponse" message="tns:IRegistro_mostrar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="borrar">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegistro/borrar" message="tns:IRegistro_borrar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegistro/borrarResponse" message="tns:IRegistro_borrar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="editar">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegistro/editar" message="tns:IRegistro_editar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegistro/editarResponse" message="tns:IRegistro_editar_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRegistro" type="tns:IRegistro">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="guardar">
      <soap:operation soapAction="http://tempuri.org/IRegistro/guardar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscar">
      <soap:operation soapAction="http://tempuri.org/IRegistro/buscar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mostrar">
      <soap:operation soapAction="http://tempuri.org/IRegistro/mostrar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="borrar">
      <soap:operation soapAction="http://tempuri.org/IRegistro/borrar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editar">
      <soap:operation soapAction="http://tempuri.org/IRegistro/editar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Registro">
    <wsdl:port name="BasicHttpBinding_IRegistro" binding="tns:BasicHttpBinding_IRegistro">
      <soap:address location="http://localhost:57466/Registro.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>